.page {
    background-color: #2A2C2F;
    max-width: 100%;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;     
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url("../../fonts/Inter-italic.var.woff2") format("woff2");
  }

  @font-face {
    font-family: 'Inter-italic';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url("../../fonts/Inter-italic.ttf") format("ttf");
  }
 