.header__menu-link {
    position: relative;
    display: block;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    line-height: 28px;
    margin-right: 18px;
    color: white;
    letter-spacing: 0em;
    text-align: right;
    padding-top: 15px;
    
}

.header__menu-link:nth-of-type(2n) {
   
    margin-right: 0px;
    padding-top: 15px;
    
}

.header__menu-link:hover {
   
    text-decoration: underline;
    
}