.lead__image {
    display: grid;
    max-width: 80%;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

@media screen and (min-width: 1281px) {
    .lead__image {
        
        max-width: 984px;
        
    }
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .lead__image {
        
        max-width: 984px;
        
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .lead__image {
        
        max-width: 928px;
        
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .lead__image {
        
        max-width: 100%;
    
    }
}
    