.lead__subtitle {
    max-width: 640px;
   
    margin: 0 auto;
    margin-bottom: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 2560px) and (min-width: 1281px) {
    .lead__subtitle { 
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 426px) {
    .lead__subtitle {
       margin-bottom: 56px;
    }
}