.cover {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "image title ."
        ". subtitle .";
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: 92px;
    max-width: 1184px;
}