.place__website-heading {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
    margin-bottom: 12px;
}