.cover__title {
    z-index: 2;
    position: relative;
    margin: 0;
    width: 550px;
    height: 152px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
   
}